.bouton{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
/* STYLE POUR LE BOUTON */
.bouton button{
    all: unset;
    padding:13px;
    width:200px;
    color:white;
    background-color: purple;
    cursor: pointer;
    
    border: 1px solid purple;
    border-radius: 15px;
    outline: none; /* Enlever l'effet de focus */
    transition: none;
    text-align: center; 
}

.bouton button:first-child{
    margin-right:15px;
}
