/* DIV REGROUPANT TOUTE LA BARRE DE NAVIGATION */
.navigation {
    display: flex;
    /* margin-top: 16px; */
    width: 80vw;
    /* border:1px solid red; */
    border-bottom: 1px solid purple;
    justify-content: space-between;
    

}

/* POUR L'ICON */
.navigation .icon{
    display: flex;
    /* border:1px solid purple; */
    margin-top: 50px   ;
}

/* POUR LES LIENS  */
.navigation .liens{
    display: flex;
    flex-direction: row;
}

.navigation .liens ul{
    display: flex;
    list-style: none;
    margin-top: 50px   ;
    margin-bottom: 30px;

}

.navigation .liens ul li{
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}