/* DIV PRINCIPALE DU DOCUMENT  */
.header{
    display: flex;
    /* border:1px solid blue; */
    justify-content: flex-start;
    flex-direction: column;
    width: 80vw;
    margin-top: 20px;
    
}



.header h1{

    font-size:40px;
}

/* POUR CHANGER LA COULEUR DU SPAN  */
.header h1 span{
    font-weight: bolder;
    color:purple;
}

.header p{
    margin-top: 20px;
}

.header div{
    display: flex;
}
